/*general styling*/
.{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  line-height: 2;
  color: white;
  overflow-x: hidden;
  background-color: black;
}
/*utility classes*/
.container{
  max-width: 1100px;
  margin: auto;
}
.text-primary{
  color: white;
}
/*navbar*/
#navbar{
  display:flex;
  justify-content: space-between;
  background-color: black;
  padding: 1rem 1rem;
  position: sticky;
  top:0;
  z-index: 1;
  border-bottom: 2px solid white;
}
#navbar ul{
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
